/* Set a background image by replacing the URL below */
body {
  /*background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.1);
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	height: 12px;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: rgba(16, 82, 186, 0.4);
	/*background-color: #121212;*/
}

.bg-trans {
	background-color: rgba(0, 0, 0, 0.3) !important;
}

ul#sortable {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul#sortable li {
  /*font-size: 2em;*/
  font-weight: 600;
  border-radius: .25rem;
  background-color: rgba(16, 82, 186, 1);
  /*background-color: white;*/
  margin-bottom: 14px;
  padding: 0.5em;
  cursor: pointer;
  color: white;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -ms-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

/*ul#sortable li:nth-of-type(1) {
  background-color: #8522e1;
}

ul#sortable li:nth-of-type(2) {
  background-color: #9540e5;
}

ul#sortable li:nth-of-type(3) {
  background-color: #ae6deb;
}

ul#sortable li:nth-of-type(4) {
  background-color: #c79af1;
}

ul#sortable li:nth-of-type(5) {
  background-color: #e0c6f7;
}*/
